

.portrait { 
  margin: auto;
  width: 35%;

  @media screen and (min-width: $tablet) { width: 60%; }

}

main {
  @media screen and (min-width: $tablet) { 
    margin-left: 40%;
    width: 60%;
   }

   section { 
    min-height: 50vh;
    padding: 0 5vw;
  
    @media screen and (min-width: $tablet) { 
      margin: auto;
      max-width: $small-tablet;
      min-height: 100vh;
      padding: 15vh 0 0;
      width: 80%;
   }
}


}

.section__title {
  margin-top: 50px;
}


.tags {
  margin: 0;
  padding: 25px;

  li {
    margin: 5px 0;
  }

  button {
    padding: 7px 10px;
  }
}


.card { 
 padding: 3%;
 margin: 20px auto;

 .container--tags + & {
   margin-top: 40px;
 }

 @media (any-hover: hover) { 
   height: 200px;
   width: 60%;

   &:hover, &:focus {
     height: auto;
     min-height: 200px;
   }
 }

 &:focus {
     height: auto;
     min-height: 200px;
  }
}
