/* 
            ***COLOR PALETTE***
*/

/* Base colors */
:root {
  --color-black: #000;
  --color-grey: #f5f5f5;
  --color-red: #e96547;
  --color-red--transparent: rgba(233,101,71,0.5);
  --color-yellow: #efbe41;
  --color-white: #fff;
}


/* Functional colors */
:root {
  --color-bg-button: var(--color-white);
  --color-bg-deco: var(--color-yellow);
  --color-bg-navigation: var(--color-white);
  --color-bg-project-title: var(--color-white);
  --color-bg-strong: var(--color-yellow);
  --color-bg-tags: var(--color-white); 
  --color-border-button: var(--color-red);
  --color-border-container: var(--color-red--transparent);
  --color-border-navigation: var(--color-grey);
  --color-icons: var(--color-red);
  --color-line-through: var(--color-red);
  --color-link: var(--color-yellow);
  --color-link-active: var(--color-red);
  --color-navigation: var(--color-red);
  --color-project-title: var(--color-red);
  --color-shadow: var(--color-grey);
  --color-tags: var(--color-red);
  --color-text: var(--color-black);
}

/* Gradents */
:root {
  --gradient-footer: linear-gradient(
                      100deg, 
                      var(--color-red) 40%, 
                      var(--color-yellow) 89%);
}


/*
            ***FONTS***
*/
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400');
:root { --font-primary: 'Raleway', Verdana, Helvetica, sans-serif; }

/*
            ***Z_INDECES***
*/
:root {
  --z-deco: 11;
  --z-project-title: 12;
  --z-project-description: 13;
  --z-footer: 20;
  --z-navigation: 21;
}

html {
  box-sizing: border-box;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body { 
  font-family: var(--font-primary); 
  font-size: 100%;
}

@media print {
  body {
    font-family: serif;
    font-size: 12pt;
  }
}
