.header {
  display: flex; 
  justify-content: space-evenly; 
  flex-direction: column;
}

@media print {
  .header {
    display: block; 
    height: auto;
    margin: 10px;
    padding: 20px;
    width: auto;
  }
}