
/*
          ***PRINT STYLES***
*/

@media print {

  //hide unnecessary elements
  .portrait,
  .low-voice,
  i[class^="fab"] { 
    display: none; 
  }

  //linerize the layout
  main { 
    display: block; 
    height: auto;
    margin: 10px;
    padding: 20px;
    width: auto;
  }

  .section__title {
    margin-top: 10px;
  }

  main {
    section {
      min-height: auto;
      padding: 0;
    }

    .card {
      width: auto;
      height: auto;
    }
  }

  // adjust the typography
  

  h1 { 
    text-align: center; 
  }


  // add suplementary content
  a:not(.card) {
    &[href*="linkedin"]::before { content: "My LinkedIn: "; }
    &[href*="github"]::before { content: "My GitHub: "; }
    &[href*="twitter"]::before { content: "My Twitter: "; }
    &[href*="codepen"]::before { content: "My CodePen: "; }
  }
}
