
.portrait { border-radius: 30%; }

strong { 
  background-color: $color-bg-strong; 
}

i[class^="fab"] { 
  color: $color-icons; 
}

.card {
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 5px 17px 4px $color-shadow;
}


.passive {
  opacity: .2;
}


